* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(pl_fondo_vip.png);
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido {
    background-color:rgb(106, 113, 255);
    width: 90%;
    padding: 5vw;
    border-radius: 30px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 5vw; 
}

.btn{
    display: inline-block;
    padding: 11px 35px;
    background-color: rgb(61, 24, 93);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.btn:hover {
    background-color: rgb(150, 60, 255);
}
h1 {
    font-size: 5vw; 
    text-align: center;
    margin-bottom: 3vw; 
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}
label{
    color: white;
}

input {
    width: 100%; 
    padding: 3vw; 
    margin-bottom: 3vw; 
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.correct, .incorrect {
    border: 1px solid transparent !important; 
}

.texto-error {
    color: #ff0000;
    font-size: 3vw; 
    text-align: right;
    margin-top: -2vw; 
}

@media screen and (max-width: 768px) {
    .contenido {
        width: 90%; /
    }
    
    form {
        padding: 3vw; 
    }
    
    h1 {
        font-size: 7vw; 
    }
}
