
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

*{
    font-family: "Odibee Sans", sans-serif;
    margin: 0%;
}

nav{    
    background-color: rgb(55, 0, 60);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#logo{
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
}
#logo:hover{
    background-color: rgb(150, 60, 255);
    animation-duration: 50%;
    transition-duration: 1s;
    transform:rotate(360deg)scale(1.3)
}
#logo > img{
    height: 8vh;
}

@keyframes desplazar {
    0%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(0px);
    }
}
#fondoe >h1{
    color: aliceblue;
    font-size: 5rem;
    text-shadow: 2px 2px 4px black;
    animation-name: texto;
    animation-duration: 800ms;
    animation-delay: 1s;
}
@keyframes texto{
    0%{
        transform:scale(1px);
    }
    70%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1);
    }
}
/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'Lato';
    color: #ffffff;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #ffffff;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
