/* Importa la fuente "Poppins" desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilos generales para resetear márgenes, rellenos, cajas, texto y listas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/* Estilo para el título h1 */
h1 {
    color: white;
    text-align: center;
    position: center;
}

/* Estilo del cuerpo del documento */
body {
    font-family: 'poppins', sans-serif;
}

/* Contenedor principal para limitar el ancho de la página */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para el encabezado */
.header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/fondo_limpiopl.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

/* Menú de navegación */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo del logotipo */
.logo {
    color: white;
    font-size: 25px;
    font-weight: 900;
}

/* Estilos para los elementos del menú de navegación */
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

/* Estilo al pasar el cursor sobre los elementos del menú */
.menu .navbar ul li a:hover {
    color: blueviolet;
}

/* Icono del menú */
.menu-icono {
    width: 25px;
}

/* Etiqueta del menú */
.menu label {
    cursor: pointer;
    display: none;
}

/* Contenido del encabezado */
.header-content {
    text-align: center;
}

/* Estilo para el título principal dentro del encabezado */
.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 35px;
}

/* Estilo para los párrafos dentro del encabezado */
.header-content p {
    font-size: 16px;
    color: white;
    padding: 0 250px;
    margin-bottom: 25px;
}

/* Estilo para los botones */
.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(61, 24, 93);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
}

/* Estilo al pasar el cursor sobre los botones */
.btn-1:hover {
    background-color: rgb(150, 60, 255);
}

/* Sección "viip" */
.viip {
    padding: 100px;
    background-color: rgb(55, 0, 60);
    position: relative;
}

/* Contenido de la sección "viip" */
.viip-content {
    text-align: center;
}

/* Estilo para el título h2 dentro de "viip" */
.viip-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: rgb(242, 245, 245);
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

/* Estilo para el texto dentro de "viip" */
.txt-p {
    font-size: 16px;
    color: rgb(251, 251, 251);
    padding: 0 250px;
    margin-bottom: 35px;
}

/* Grupo de elementos dentro de "viip" */
.viip-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* Elementos individuales dentro del grupo de "viip" */
.viip-1 {
    padding: 25px;
}

/* Imágenes dentro de "viip-1" */
.viip-1 img {
    width: 200px;
}

/* Imagen de fondo de "viip" */
.viip-img {
    position: absolute;
    top: 0;
    right: 0;
}

/* Sección "services" */
.services {
    background-color: rgb(61, 24, 93);
}

/* Estilo para el título h2 dentro de "services-content" */
.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* Contenido de "services" */
.services-content {
    background-color: rgb(61, 24, 93);
}

/* Estilo para el texto dentro de "services" */
.services-content p {
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    padding: 0 100px;
}

/* Grupo de elementos dentro de "services" */
.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/* Sección "general" */
.general {
    display: flex;
}

/* Elemento "general-1" */
.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: rgb(55, 0, 60);
}

/* Elemento "general-2" */
.general-2 {
    background-image: url(img/haaland_cam.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

/* Elemento "general-3" */
.general-3 {
    background-image: url(img/salah_zap.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

/* Elemento "general-4" */
.general-4 {
    background-image: url(img/copa_pl.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

/* Elemento "general-5" */
.general-5 {
    background-image: url(img/brereton.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
h3{
    color: white;
}

/* Estilo para el título h2 */
h2 {
    font-size: 55px;
    line-height: 70px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Estilo para el subtítulo h4 */
h4 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 55px;
    line-height: 70px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Estilo para los párrafos */
p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 25px 0 45px 0;
}

/* Estilo para los párrafos dentro de "blog" */
.blog p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 25px 0 45px 0;
}

/* Sección "blog" */
.blog {
    padding: 100px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

/* Elemento "blog-1" */
.blog-1 {
    padding: 15px 35px;
}

/* Imágenes dentro de "blog-1" */
.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

/* Título h3 dentro de "blog-1" */
.blog-1 h3 {
    font-size: 25px;
    color: rgb(0, 0, 0);
}

/* Título h5 */
h5 {
    color: rgb(249, 246, 246);
    font-size: 20px;
    margin-bottom: 15px;
}

/* Slider */
.slider-container {
    max-width: 700px;
    margin: 0 auto;
}

.slider {
    width: 100%;
    height: 900px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 100%;
}

.slide-content {
    position: relative;
}

.slide-content a {
    color: white;
    text-decoration-line: black;
}

/* Estilo para los botones dentro de "slide-content" */
.slide-content .btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: rgb(61, 24, 93);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

/* Estilo al pasar el cursor sobre los botones dentro de "slide-content" */
.slide-content .btn-1:hover {
    background-color: rgb(150, 60, 255);
}
.ssa {
    background-color: rgb(61, 24, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12vh;
    width: 100%;
    color: white; /* Color del texto */
    position: relative;
    bottom: 0; /* Asegura que el footer esté en la parte inferior */
    text-align: center; /* Centra el contenido */
    flex-direction: column; /* Organiza los hijos en columna */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    height: 8vh;
    margin-bottom: 10px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    background-color: white; /* Fondo blanco */
    padding: 5px; /* Espacio alrededor de la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}



/* Animación para el slider */
@keyframes cambio {
    0% { margin-left: 0; }
    20% { margin-left: 0; }
    25% { margin-left: -100%; }
    45% { margin-left: -100%; }
    50% { margin-left: -200%; }
    70% { margin-left: -200%; }
    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}

@media (max-width:850px) {

    .general>div {
        height: 35vh;
        padding: 0px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .btn-1 {
        font-size: 2vw;
    }

    .general>div>h2 {
        font-size: 3vw;
        line-height: 1rem;
    }
    .viip-content h2 {
        font-size: 38px;
        line-height: 70px;
        color: rgb(242, 245, 245);
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 15px;
        margin-left: 10px;
    }
    .txt-p {
        padding: 0 20px;
    }
    .viip-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #logo img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}