{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda en Línea</title>
    <link rel="stylesheet" href="{% static 'estylecamiseta.css' %}">
</head>
<body>

    <div class="navbar" id="navbar">
        <a href="{% url 'home' %}" ><img src="{% static 'img/logopl11111.png.png' %}" alt="Logo" class="footer-logo"></a>
        <a href="javascript:void(0);" class="menu-icon" onclick="openNav()">&#9776; Menú</a>
        <a href="{% url 'home' %}" class="boton_1">INICIO</a>
        <a href="{% url 'ticket' %}" class="boton_1">ENTRADAS</a> 
        <a href="{% url 'camiseta' %}" class="boton_1">CAMISETAS</a>
        <a href="{% url 'tour' %}" class="boton_1">TOURS</a>
        <a href="{% url 'accesorio' %}" class="boton_1">ACCESORIOS</a>
        <a href="{% url 'zapatos' %}" class="boton_1">ZAPATOS</a>
        <a href="{% url 'carrito' %}"><img src="{% static 'img/icon_shop.png' %}" alt="">({{ request.carrito_count }}) </a>
    </div>

    <!-- Barra lateral -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'home' %}">Premier League Shop</a>
        <a href="{% url 'camiseta' %}" class="btn-1">CAMISETAS</a>
        <a href="{% url 'accesorio' %}" class="boton_1">ACCESORIOS</a>
        <a href="{% url 'tour' %}" class="btn-1">TOURS</a>
        <a href="{% url 'ticket' %}" class="btn-1">ENTRADAS</a>
        <a href="{% url 'zapatos' %}" class="btn-1">ZAPATOS</a>
        <a href="{% url 'carrito' %}" class="btn-1">Carrito({{ request.carrito_count }})</a>
        <a href="{% url 'vip' %}" class="btn-1">VIP</a>
        <a href="{% url 'registro' %}" class="btn-1">REGISTRO</a>
    </div>

    <div class="container" id="products">
        {% for acce in acc %}
        <div class="product">
            <img src="{{ acce.imagen }}" alt="Producto 1">
            <div class="product-info">
                <h4>{{ acce.detalle }}</h4>
                <p class="price">Cantidad: {{ acce.stock }}</p>
                {% if acce.oferta %}
                <p class="tachado">Antes: {{ acce.descuento15 }}</p>
                <p class="price">${{ acce.precio }}</p>
                {% else %}
                <p>${{ acce.precio }}</p>
                {% endif %}
                <a href="{% url 'addToCar' acce.codigo %}" class="boton_2">AÑADIR AL CARRITO</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="footer">
        <img src="{% static 'img/logopl11111.png.png' %}" alt="Logo" class="footer-logo">
        <p>© 2024 PREMIER LEAGUE SHOP.</p>
    </div>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>
</html>
