{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <style>
        body {
            background-color: rgb(55, 0, 60);
        }
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Camisetas</title>
    <link rel="stylesheet" href="{% static 'estylecamiseta.css' %}" />
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">
                <div id="logo"> 
                    <img src="{% static 'img/logopl11111.png.png' %}" alt="Logo">
                </div>
            </a>
            <a href="{% url 'home' %}">Inicio</a>
            <a href="entradas.html">Entradas</a>
            <a href="{% url 'camiseta' %}">Camisetas</a>
            <a href="tour.html">Tour</a>
            <a href="{% url 'accesorio' %}">Accesorios</a>
            <div id="floating-cart" style="display: none;">
                <div class="info-product">
                    <div class="cart">
                        <h2>Carrito de Compras</h2>
                        <ul id="cart-items"></ul>
                        <p>Total: <span id="cart-total">0</span></p>
                        <button onclick="pay()">Pagar</button>
                        <button onclick="hideFloatingCart()">Atrás</button>
                    </div>
                </div>
            </div>
            <div id="cart-icon">
                <img src="{% static 'img/icon_shop.png' %}" alt="Carrito de compras">
            </div>
        </nav>  
    </header>
    <h1>Tienda de Camisetas</h1>
    <div class="container-items">
        {% for ca in cam %}
        <div class="item">
            <figure>
                <img src="{{ ca.imagen }}" alt="producto">
            </figure>
            <div class="info-product">
                <h2>{{ ca.detalle }}</h2>
                <p class="price">Cantidad: {{ ca.stock }}</p>
                {% if ca.oferta %}
                <p class="tachado">Antes: {{ ca.descuento15 }}</p>
                <p class="price">${{ ca.precio }}</p>
                {% else %}
                <p class="price">${{ ca.precio }}</p>
                {% endif %}
                <button onclick="addToCart('{{ ca.detalle }}', {{ ca.precio }})">Añadir al carrito</button>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{% static 'camiseta.js' %}"></script>
</body>
</html>