{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="{% static 'carrito.css' %}">
</head>
<header>
    <nav>
        <a href="{% url 'home' %}" class="btn-1">Inicio</a>
        <a href="{% url 'ticket' %}" class="btn-1">ENTRADAS</a>
        <a href="{% url 'camiseta' %}" class="btn-1">Camisetas</a>
        <a href="{% url 'tour' %}" class="btn-1">TOURS</a>
        <a href="{% url 'accesorio' %}" class="btn-1">Accesorios</a>
        <a href="{% url 'carrito' %}"><img src="{% static 'img/icon_shop.png' %}" alt="">({{ request.carrito_count }}) </a>
    </nav>  
</header>
<body>
    <h1>CARRITO</h1>
    <table>
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Imagen</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Subtotal</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrito %}
            <tr>
                <td>{{ item.codigo }}</td>
                <td>{{ item.nombre }}</td>
                <td><img src="{{ item.imagen }}" alt="{{ item.nombre }} "></td>
                <td>{{ item.precio }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.subtotal }}</td>
                <td><a href="{% url 'delToCar' item.codigo %}" class="boton_1">ELIMINAR</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
