{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venta de Entradas de Fútbol</title>
    <link rel="stylesheet" href="{% static 'styleentrada.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">
                <div id="logo"> 
                    <img src="{% static 'img/logopl11111.png.png' %}" alt="Logo">
                </div>
            </a>
            <a href="{% url 'home' %}" class="boton_1">Inicio</a>
            <a href="{% url 'ticket' %}" class="boton_1">ENTRADAS</a> 
            <a href="{% url 'camiseta' %}" class="boton_1">Camisetas</a>
            <a href="{% url 'tour' %}" class="boton_1">TOURS</a>
            <a href="{% url 'accesorio' %}" class="boton_1">Accesorios</a>
            <a href="{% url 'carrito' %}"><img src="{% static 'img/icon_shop.png' %}" alt="">({{ request.carrito_count }}) </a>
        </nav> 
    </header>
    <main>
        {% for tk in tkt %}
            <div class="match">
    
                <h2>{{tk.detalle }} </h2>
        	    <img src="{{ tk.imagen }}">
        	    <p>{{ tk.fecha }}</p>
                <a href="{% url 'addToCar' tk.codigo %}" class="boton_1">AÑADIR AL CARRITO</a>
        	</div>
        {% endfor %}
        
        
    </main>
    <footer class="ssa">
        <div class="footer-content">
            <img src="{% static 'img/logopl11111.png.png' %}" alt="Logo" class="footer-logo">
            <div>PREMIER LEAGUE SHOP</div>
        </div>
    </footer>
</body>
</html>
