{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premier League Shop</title>
    <link rel="stylesheet" href="{% static 'style2.css' %}">
</head>
<body>
    <header class="header">
        <nav>
            <a href="{% url 'home' %}">
                <div id="logo"> 
                    <img src="{% static 'img/pre_logo.png' %}" alt="">
                </div>
            </a>
            
        </nav>
        <div id="fondo"></div>
        <div class="header-content container">
            <h1>Premier League Shop</h1>
            <a href="javascript:void(0);" class="btn-1" onclick="openNav()">&#9776; Menú</a>
            <a href="{% url 'camiseta' %}" class="btn-1">CAMISETAS</a>
            <a href="{% url 'accesorio' %}" class="btn-1">ACCESORIOS</a>
            <a href="{% url 'tour' %}" class="btn-1">TOURS</a>
            <a href="{% url 'ticket' %}" class="btn-1">ENTRADAS</a>
            <a href="{% url 'carrito' %}" class="btn-1">Carrito({{ request.carrito_count }}) </a>
            <a href="{% url 'vip' %}" class="btn-1">VIP</a>
            <a href="{% url 'login' %}" class="btn-1">LOGIN</a>
            <a href="{% url 'zapatos' %}" class="btn-1">ZAPATOS</a>
        </div>
    </header>

    <!-- Barra lateral -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{% url 'home' %}" class="btn-1">Premier League Shop</a>
        <a href="{% url 'camiseta' %}" class="boton_1">CAMISETAS</a>
        <a href="{% url 'accesorio' %}" class="boton_1">ACCESORIOS</a>
        <a href="{% url 'tour' %}" class="boton_1">TOURS</a>
        <a href="{% url 'ticket' %}" class="boton_1">ENTRADAS</a>
        <a href="{% url 'zapatos' %}" class="boton_1">ZAPATOS</a>
        <a href="{% url 'carrito' %}" class="boton_1">Carrito({{ request.carrito_count }})</a>
        <a href="{% url 'vip' %}" class="boton_1">VIP</a>
        <a href="{% url 'login' %}" class="boton_1">LOGIN</a>
    </div>
    <section class="viip">
        <div class="viip-content container">
            <h1>Resultados en Tiempo Real</h1>
            <div id="wg-api-football-games"
         data-host="v3.football.api-sports.io"
         data-key="a4453e46ed0d1ca59d11bd3f31fbbb19" 
         data-date="today" 
         data-league="39"
         data-season="2023"
         data-theme=""
         data-refresh="15"
         data-show-toolbar="true"
         data-show-errors="false"
         data-show-logos="true"
         data-modal-game="true"
         data-modal-standings="true"
         data-modal-show-logos="true">
    </div>
    <script
        type="module"
        src="https://widgets.api-sports.io/2.0.3/widgets.js">
    </script>

    </section>

    <section class="viip">
        <div class="viip-content container">
            <h2>Mejores Jugadores</h2>
            <p class="txt-p">
                Mas Destacados

            </p>
            <div class="viip-group">
                <div class="viip-1">
                    <img src="{% static 'img/erling-haaland.png' %}" alt="">
                    <h3>Erling Haaland</h3>
                    <p>
                        Maximo Goleador
                    </p>
                    <p>
                        27 Goles⚽
                    </p>
                </div>
                <div class="viip-1">
                    <img src="{% static 'img/ollie_watkins.png' %}" alt="">
                    <h3>Ollie Watkins</h3>
                    <p>
                        Maximo Asistidor
                    </p>
                    <p>
                        13 Asistencias👟
                    </p>

                </div>
                <div class="viip-1">
                    <img src="{% static 'img/raya_david.png' %}" alt="">
                    <h3>David Raya</h3>
                    <p>
                        Mas Porterias a cero
                    </p>
                    <p>
                        16 porterias en 0🧤
                    </p>

                </div>
                <div class="viip-1">
                    <img src="{% static 'img/bruno_fernandes.png' %}" alt="">
                    <h3>Bruno Fernandes</h3>
                    <p>
                        Mas pases clave
                    </p>
                    <p>
                        3.3 por partido 💡
                    </p>

                </div>
                <div class="viip-1">
                    <img src="{% static 'img/cole_palmer.png' %}" alt="">
                    <h3>Cole Palmer</h3>
                    <p>
                        Goles + Asistencias
                    </p>
                    <p>
                        33 Goles+Asistencias ⚽👟
                    </p>

                </div>

            </div>
            <a href="https://onefootball.com/es/competicion/premier-league-9/clasificacion" class="btn-1">Ir a clasificacion</a>

        </div>
    </section>
    <div class="slider-container">
        <div class="slider">
            <ul>
                <li>
                    <div class="slide-content">
                        <img src="{% static 'img/cam_arsenal.png' %}">
                        <div class="text-overlay bottom-left">
                            <a href="{% url 'addToCar' '0003' %}" class="btn-1">AÑADIR AL CARRITO</a>
                            <a href="{% url 'camiseta' %}" class="btn-1">Camiseta Local Arsenal 23/24</a>
                            <p class="btn-1">${{ ca.003.precio }}</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-content">
                        <img src="{% static 'img/chelsea_cam.png' %}">
                        <div class="text-overlay bottom-left">
                            <a href="{% url 'camiseta' %}" class="btn-1">Camiseta Local Chelsea 23/24</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-content">
                        <img src="{% static 'img/cam_fulham.png' %}">
                        <div class="text-overlay bottom-left">
                            <a href="{% url 'camiseta' %}" class="btn-1">Camiseta Local Fulham 23/24</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide-content">
                        <img src="{% static 'img/cam_manunited.png' %}">
                        <div class="text-overlay bottom-left">
                            <a href="{% url 'camiseta' %}" class="btn-1">Camiseta Local Manchester United 23/24</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
        

    <main class="services">
        <div class="services-content container">
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Tabla de Posiciones de Fútbol</title>
                <div id="wg-api-football-standings"
                    data-host="v3.football.api-sports.io"
                    data-key="a4453e46ed0d1ca59d11bd3f31fbbb19"
                    data-league="39"
                    data-team=""
                    data-season="2023"
                    data-theme=""
                    data-show-errors="false"
                    data-show-logos="true"
                    class="wg_loader">
                </div>
                <script
                    type="module"
                    src="https://widgets.api-sports.io/2.0.3/widgets.js">
                </script>

        </div>
        

    </main>
    <h4>Productos</h4>
    <section class="general">
        <div class="general-1">
            <h2>Camiseta Erling Haaland</h2>
            <p>
                Compra ya! la camiseta official de Erling Haaland.
            </p>
            <a href="{% url 'camiseta' %}" class="btn-1">Ir a Camisetas</a>
        </div>
        <div class="general-2"></div>
    </section>
    <section class="general">

        
        <div class="general-3"></div>

        <div class="general-1">
            <h2>Zapatos Mohamed Salah</h2>
            <p>
                Consigue ahora mismo los zapatos officiales de Mohamed Salah!
            </p>
            <a href="{% url 'accesorio' %}" class="btn-1">Ir a Accesorios</a>
        </div>
        
    </section>
    <section class="general">
        <div class="general-1">
            <h2>Replica official Trofeo PL</h2>
            <p>
                Haste con la replica official de Trofeo de la Premier League y sientete un campeon siempre!
            </p>
            <a href="{% url 'accesorio' %}" class="btn-1">Ir a Accesorios</a>
        </div>
        <div class="general-4"></div>
    </section>
    <section class="general">

        
        <div class="general-5"></div>

        <div class="general-1">
            <h2>Camiseta Ben Brereton</h2>
            <p>
                Compra ya! la camiseta official de Ben Brereton Diaz.
            </p>
            <a href="{% url 'camiseta' %}" class="btn-1">Ir a Camisetas</a>
        </div>
        
    </section>

    <section class="blog">

        <h2>Noticias Destacadas</h2>
        <p> Liverpool Empata con su clasico rival el Manchester United y esto deja la Premier League en llamas!
        </p>
        <div class="blog-content">
            <div class="blog-1">
                <img src="{% static 'img/sala_notice.png' %}" alt="">
                <h5>Manchester United 2-2 Liverpool</h5>
                <p>
                    En un autentico partidazo los red devils se hicieron fuertes ante los constantes ataques del cuadro de Anfield.
                </p>
                <a href="https://www.premierleague.com/news/3958124" class="btn-1">Noticia Completa</a>
            </div>
        </div>
    </section>
    <footer class="ssa">
        <div class="footer-content">
            <img src="{% static 'img/logopl11111.png.png' %}" alt="Logo" class="footer-logo">
            <div>PREMIER LEAGUE SHOP</div>
        </div>
    </footer>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</body>
</html>