{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <style>
        body{
            background-color: rgb(55, 0, 60);
        }
    </style>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Tours</title>
		<link rel="stylesheet" href="{% static 'styletour.css' %}" />
	</head>
	<body>
		<header>
            <nav>
				<a href="index2.html">
					<div id = logo> 
						<img src="logopl11111.png.png" alt="">
					</div>
				</a>
				<a href="index2.html">Inicio</a>
            <a href="entradas.html">Entradas</a>
            <a href="camiseta.html">Camisetas</a>
            
            <a href="tour.html">Tour</a>
            <a href="accesorio.html">Accesorios</a>
			<div id = carro> 
				<img src="icon_shop.png" alt="">
			</div>
    
            </nav>
			

			
            
		</header>
        <h1>Tours por los estadios del Futbol ingles</h1>
		<div class="container-items">
			{% for to in tou %}
			<div class="item">
				<figure>
					<img
						src="{{ to.imagen }}"
						alt="producto"
					/>
				</figure>
				<div class="info-product">
					<h2>{{ to.detalle }}</h2>
					<p class="price">${{ to.precio }}</p>
                    <p>{{ to.hora }}</p>
					<button>Agendar Hora</button>
				</div>
			</div>
			
		</div>
		{% endfor %}
	</body>
</html>