{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIP</title>
    <link rel="stylesheet" href="{% static 'stylevip22.css' %}">
</head>
<body>
    <header class="header">
        <nav>
        </nav>
        <div id="fondo">

        </div>
        <div class="header-content container">
            <h1>Zona VIP</h1>
            <p>Accede a todos los beneficios al ser  cliente VIP

            </p>
            <a href="#" class="btn-1">Hazte VIP</a>
            <a href="index2.html" class="btn-1">INICIO</a>
        </div>
    </header>

    <section class="viip">
        <div class="viip-content container">
            <h2>Beneficios de VIP</h2>
            <p class="txt-p">
                Descuentos en Camisetas

            </p>
            <div class="viip-group">
                <div class="viip-1">
                    <img src="cam_arsenal.png" alt="">
                    <h3>Camiseta Local Arsenal 23/24</h3>
                    <p>
                        Ahora -50% des: $34.999
                    </p>
                    <p>
                        Antes: $69.990
                    </p>
                </div>
                <div class="viip-1">
                    <img src="{% static 'img/cam_manunited.png' %}" alt="">
                    <h3>Camiseta Local Manchester United 23/24</h3>
                    <p>
                        Ahora -50% des: $39.999
                    </p>
                    <p>
                        Antes: $79.990
                    </p>

                </div>
                <div class="viip-1">
                    <img src="ca_liverpool.png" alt="">
                    <h3>Camiseta Local Liverpool 23/24</h3>
                    <p>
                        Ahora -50% des: $39.999
                    </p>
                    <p>
                        Antes: $79.990
                    </p>

                </div>

            </div>
            <a href="camiseta.html" class="btn-1">Ir a Camisetas</a>

        </div>
    </section>

    <main class="services">
        <div class="services-content container">
            <h2>Accesorios de regalo </h2>
            <div class="services-group">
                <div class="services-1">
                    <img src="aaa.jpg" alt="">
                    <h3>Balon 23/24 Free</h3>
                </div>
                <div class="services-1">
                    <img src="zap_pp.png" alt="">
                    <h3>Zapatos Puma free</h3>
                </div>
                <div class="services-1">
                    <img src="aston_bolso.png" alt="">
                    <h3>Bolso Aston Villa free</h3>
                </div>

            </div>
            <p>
                Obten estos accesorios de regalo, los accesorios cambian cada mes.
            </p>
            <a href="accesorio.html" class="btn-1">Ir a Accesorios</a>

        </div>
        

    </main>
    <h4>Descuentos Tours</h4>
    <section class="general">
        <div class="general-1">
            <h2>Old Traford</h2>
            <p>
                Tour por el maravilloso estadio del Manchester United con un 80% de descuento, ademas con 2 acompañantes gratis.
            </p>
            <a href="tour.html" class="btn-1">Ir a tour</a>
        </div>
        <div class="general-2"></div>
    </section>
    <section class="general">

        
        <div class="general-3"></div>

        <div class="general-1">
            <h2>Emirates Stadium</h2>
            <p>
                Tour por el maravilloso estadio del Arsenal con un 60% de descuento, ademas con 3 acompañantes gratis.
            </p>
            <a href="tour.html" class="btn-1">Ir a tour</a>
        </div>
        
    </section>
    <section class="general">
        <div class="general-1">
            <h2>Falmer Stadium</h2>
            <p>
                Tour por el maravilloso estadio del Brighton con un 70% de descuento, ademas con 1 acompañante gratis.
            </p>
            <a href="tour.html" class="btn-1">Ir a tour</a>
        </div>
        <div class="general-4"></div>
    </section>

    <section class="blog">

        <h4>Entradas</h4>
        <p> Disfruta de entradas a mitad de precio, ademas con acceso anticipado para obtener antes un lugar en el mejor asiento.
        </p>
        <div class="blog-content">
            <div class="blog-1">
                <img src="united_estadiio-logo.png" alt="">
                <h3>Manchester United</h3>
                <p>
                    Reserva ahora con anticipacion tu entrada para los partidos del Manchester United.
                </p>
                <a href="entradas.html" class="btn-1">Ir a Entradas</a>
            </div>
            <div class="blog-1">
                <img src="city-logo-stadium.png" alt="">
                <h3>Manchester City</h3>
                <p>
                    Reserva ahora con anticipacion tu entrada para los partidos del Manchester City.
                </p>
                <a href="entradas.html" class="btn-1">Ir a Entradas</a>
            </div>
            <div class="blog-1">
                <img src="liverpool-logo-estadio.png" alt="">
                <h3>Liverpool</h3>
                <p>
                    Reserva ahora con anticipacion tu entrada para los partidos del Liverpool.
                </p>
                <a href="entradas.html" class="btn-1">Ir a Entradas</a>
            </div>
        </div>
    </section>
    <footer class="footer-content">
        <div class="link">
            <a href="index2.html"><h3>Inicio</h3></a>

        </div>
        <div class="link">
            <a href="entradas.html"><h3>Entradas</h3></a>

        </div>
        <div class="link">
            <a href="camiseta.html"><h3>Camisetas</h3></a>
            
        </div>
        <div class="link">
            <a href="tour.html"><h3>Tour</h3></a>

        </div>
        <div class="link">
            <a href="accesorio.html"><h3>Accesorios</h3></a>

        </div>
    </footer>
</body>
</html>